@page
@model globalsolution.Pages.Usuarios.DeleteModel
@{
    ViewData["Title"] = "Remover Usuário";
}

<h1>Remover Usuário</h1>

<h4>Tem certeza que deseja excluir este usuário?</h4>

<div>
    <strong>Nome:</strong> @Model.Usuario.Nome <br />
    <strong>Email:</strong> @Model.Usuario.Email <br />
    <strong>Tipo:</strong> @Model.Usuario.TipoUsuario <br />
    <strong>Cidade:</strong> @Model.Usuario.Cidade <br />
</div>

<form method="post">
    <input type="hidden" asp-for="Usuario.Id" />
    <br />
    <button type="submit" class="btn btn-danger">Remover</button>
    <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
</form>
